In [1]:
import pandas as pd
import oracledb

In [2]:
df_1 = pd.read_excel('첨부1_임시테이블1.xlsx',dtype=str)
df_2 = pd.read_excel('첨부2_임시테이블2.xlsx',dtype=str)
df_3 = pd.read_excel('첨부3_임시테이블3.xlsx',dtype=str)

In [3]:
oracledb.init_oracle_client(lib_dir="C:/Oracle/product/19.0.0/client")
conn = oracledb.connect(user="nhimc_cdw", password="nhimc_cdw_1!", dsn="NEW_NHIMCDEV")
conn.is_healthy()

True

In [4]:
# 데이터프레임을 Oracle DB에 삽입
df_1.to_sql(name='tmp_20231011_01', con=conn, if_exists='replace', index=False)

# 연결 종료
conn.close()

C:\Users\user\AppData\Local\Temp\ipykernel_22872\2287230756.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_1.to_sql(name='tmp_20231011_01', con=conn, if_exists='replace', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': ORA-01036: 잘못된 변수명/번호

In [5]:
conn.close()

In [35]:
from sqlalchemy import create_engine,types
import pandas as pd
import oracledb
import sys
oracledb.version = "8.3.0"
sys.modules["cx_Oracle"] = oracledb

In [7]:
df_1 = pd.read_excel('첨부1_임시테이블1.xlsx',dtype=str)
df_2 = pd.read_excel('첨부2_임시테이블2.xlsx',dtype=str)
df_3 = pd.read_excel('첨부3_임시테이블3.xlsx',dtype=str)

In [8]:
id = 'nhimc_cdw'
pw = 'nhimc_cdw_1!'
dsn = 'NEW_NHIMCDEV'
engine = create_engine(f'oracle://{id}:{pw}@{dsn}')

In [60]:
dtypes_1 = {col_name: types.VARCHAR(df_1[col_name].str.len().max() if not pd.isna(df_1[col_name].str.len().max()) else 100) for col_name in df_1.columns}
dtypes_2 = {col_name: types.VARCHAR(df_2[col_name].str.len().max() if not pd.isna(df_2[col_name].str.len().max()) else 100) for col_name in df_2.columns}
dtypes_3 = {col_name: types.VARCHAR(df_3[col_name].str.len().max() if not pd.isna(df_3[col_name].str.len().max()) else 100) for col_name in df_3.columns}

In [59]:
with engine.connect() as conn:
    df_1.to_sql(name='TMP_504382_20231011_01', con=conn, if_exists='replace', index=False,dtype=dtypes_1)
    df_2.to_sql(name='TMP_504382_20231011_02', con=conn, if_exists='replace', index=False,dtype=dtypes_2)
    df_3.to_sql(name='TMP_504382_20231011_03', con=conn, if_exists='replace', index=False,dtype=dtypes_3)

C:\Users\user\AppData\Local\Temp\ipykernel_22872\4026955671.py:2: UserWarning: The provided table name 'TMP_504382_20231011_01' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_1.to_sql(name='TMP_504382_20231011_01', con=conn, if_exists='replace', index=False,dtype=dtypes_1)
C:\Users\user\AppData\Local\Temp\ipykernel_22872\4026955671.py:3: UserWarning: The provided table name 'TMP_504382_20231011_02' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_2.to_sql(name='TMP_504382_20231011_02', con=conn, if_exists='replace', index=False,dtype=dtypes_2)
C:\Users\user\AppData\Local\Temp\ipykernel_22872\4026955671.py:4: UserWarning: The provided table name 'TMP_504382_20231011_03' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_3.to_sql(name='TMP_504382_20231011_03', con=conn, if_exists='replace', index=False,dtype=dtypes_3)